@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

:root {
    /* Colours */
    --background-black: #2a2d2f;
    --eerie-black-2: hsl(240, 2%, 12%);
    --font-gray80: #ccc;
    --font-white: white;
    --font-white-2: hsl(0, 0%, 98%);
    --teal-dark: rgb(19, 190, 190);
    --jet: hsl(0, 0%, 25%);
    --onyx: hsl(240, 1%, 17%);

    /* Gradients */
    --bg-gradient-onyx: linear-gradient(to bottom right,
            hsla(0, 0%, 24%) 0%,
            hsla(0, 0%, 19%) 97%);
    --bg-gradient-jet: linear-gradient(to bottom right,
            hsla(240, 1%, 18%, 0.251) 0%,
            hsla(240, 2%, 11%, 0) 100%),
        hsl(240, 2%, 13%);
    --bg-gradient-grey: rgba(54, 55, 55, 1) 0%,
        rgba(98, 98, 98, 1) 50%,
        rgba(112, 112, 112, 1) 100%;
    --text-gradient-teal: linear-gradient(to right,
            rgba(59, 240, 240, 1) 0%,
            rgba(44, 182, 182, 1) 63%);
    --border-gradient-onyx: linear-gradient(to bottom right,
            hsl(0, 0%, 20%) 0%,
            hsla(0, 0%, 25%, 0) 50%);

    /* Fonts */
    --fs-0: 28px;
    --fs-1: 24px;
    --fs-2: 22px;
    --fs-3: 20px;
    --fs-4: 18px;
    --fs-6: 16px;
    --fs-7: 14px;

    --fw-300: 300;
    --fw-400: 400;
    --fw-500: 500;

    /** shadow */
    --shadow-1: -4px 8px 24px hsla(0, 0%, 0%, 0.25);
    --shadow-2: 0 16px 30px hsla(0, 0%, 0%, 0.25);
    --shadow-3: 0 16px 40px hsla(0, 0%, 0%, 0.25);
    --shadow-4: 0 25px 50px hsla(0, 0%, 0%, 0.15);
    --shadow-5: 0 24px 80px hsla(0, 0%, 0%, 0.25);

    /** transition */
    --transition-1: 0.25s ease;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", sans-serif;
    height: 200vh;
    color: var(--font-gray80);
    /* Added for scroll testing */
    overflow-x: hidden;
    /* Prevent horizontal scroll */
    text-align: justify;
    background-color: var(--background-black);
}

.h1,
.h2,
.h3,
.h4,
.h5 {
    color: var(--font-white-2);
    text-transform: capitalize;
}

.h1 {
    font-size: var(--fs-0);
}

.h2 {
    font-size: var(--fs-1);
}

.h3 {
    font-size: var(--fs-2);
}

.h4 {
    font-size: var(--fs-4);
}

.h5 {
    font-size: var(--fs-7);
    font-weight: var(--fw-500);
}

article {
    min-height: 100vh;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 150px;
}

::-webkit-scrollbar {
    width: 10px;
    height: 100%;
}

::-webkit-scrollbar-track {
    background: var(--background-black);
}

::-webkit-scrollbar-thumb {
    background: var(--jet);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.landing-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url('../images/green_nn.jpg') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* left 1s cubic-bezier(0.54, 1.5, 0.38, 1.11), */
    transition: all 0.4s ease;
    z-index: 1;
}

.landing-page .sidebar {
    /* width: 100%; */
    height: 100%;
    color: var(--font-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-logo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.landing-page h1 {
    font-size: 2.5em;
    margin: 1.3;
}

ul {
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

nav li {
    list-style: none;
    padding: 15px 10px;
}

.navbar-link {
    color: var(--font-white);
    text-decoration: none;
    margin: 10px;
    font-size: 1.2em;
}

/* 
.navbar-link:hover,
.navbar-link:focus a {
    color: var(--font-gray80);
} */

.navbar-link.current {
    color: var(--teal-dark) !important;
}

.logo {
    height: 30px;
    width: 30px;
    color: var(--font-white);
    padding: 13px;
}

.main-content {
    transition: margin-top 0.4s ease;
    background-color: var(--background-black);
    height: 100vh;
    opacity: 0;
}

/* After slide */

.show-navbar .landing-page {
    transform: translateX(-40%);
    width: 120vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.show-navbar .landing-page .sidebar {
    /* display: flex; */
    position: sticky;
    /* left: 0px; */
    /* width: 25%; */
    flex-direction: column;
    /* align-items: center; */
}

.show-navbar .main-content {
    position: relative;
    /* width: 75%; */
    height: max-content;
    /* left: -50%; */
    margin-left: 25%;
    /* padding-top: 10%; */
    padding: 12% 6%;
    z-index: 1;
    opacity: 1;
}

.article-title {
    position: relative;
    padding-bottom: 7px;
}


/* Resume */
ion-icon {
    color: var(--teal-dark);
}

.icon-box {
    position: relative;
    background: var(--bg-gradient-onyx);
    width: 40px;
    height: 40px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--fs-3);
    color: var(--teal-dark);
    box-shadow: var(--shadow-1);
    z-index: 1;
}

.icon-box ion-icon {
    --ionicon-stroke-width: 35px;
}

.timeline {
    margin-bottom: 30px;
}

.timeline .title-wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 25px;
}

.timeline-list {
    font-size: var(--fs-6);
    margin-left: 9px;
}

.timeline-item {
    list-style: none;
    position: relative;
}

.timeline-item:not(:last-child) {
    margin-bottom: 30px;
}

.timeline-item-title {
    font-size: var(--fs-4);
    line-height: 1.3;
    margin-bottom: 7px;
}

.timeline-list span {
    color: var(--teal-dark);
    font-weight: var(--fw-400);
    line-height: 1.6;
}

.timeline-item:not(:last-child)::before {
    content: "";
    position: absolute;
    top: -25px;
    left: -30px;
    width: 1px;
    height: calc(100% + 50px);
    background: var(--jet);
}

.timeline-item::after {
    content: "";
    position: absolute;
    top: 7px;
    left: -33px;
    height: 8px;
    width: 8px;
    background: var(--text-gradient-teal);
    border-radius: 50%;
    box-shadow: 0 0 0 4px var(--jet);
}

.timeline-text {
    color: var(--font-gray80);
    font-weight: var(--fw-300);
    line-height: 1.6;
}

.timeline-text li {
    text-align: justify;
    margin-left: 16px;
}


/* Projects */

.portfolio {
    height: max-content;
}

.project-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10%;
    width: 90%;
    max-width: 1024px;
    margin-bottom: 10px;
}

.project-item {
    display: none;
}

.project-item.active {
    display: flex;
    animation: scaleUp 0.25s ease forwards;
}

.project-img {
    position: relative;
    width: 220px;
    height: 150px;
    border-radius: 8px;
    overflow: hidden;
    margin: 15px 0;
}

.project-img::before {
    content: "";
    position: absolute;
    /* top: 0;
    left: 0; */
    width: 220px;
    height: 150px;
    background: transparent;
    z-index: 1;
    transition: var(--transition-1);
}

.project-item a {
    color: var(--font-white);
    text-decoration: none;
    font-size: var(--fs-5);
}

.project-item>a:hover .project-img::before {
    background: hsla(0, 0%, 0%, 0.6);
}

.project-item>a:hover .project-item-icon-box {
    --scale: 1;
    opacity: 1;
}

.project-img img {
    width: 220px;
    height: 150px;
    object-fit: cover;
    transition: var(--transition-1);
}

.project-item:hover img {
    transform: scale(1.1);
}

.project-title {
    color: var(--font-white-2);
    font-size: var(--fs-5);
    font-weight: var(--fw-400);
    line-height: 1.3;
    text-wrap: pretty;
}

.data-projects-div {
    display: none;
    overflow: hidden;
}

.data-projects-div.active {
    display: flex;
    overflow: visible;
}

.project-b {
    color: var(--teal-dark);
    font-weight: var(--fw-400);
    line-height: 1.6;
}

.content-card {
    position: relative;
    /* height: 400px;
    width: 350px; */
    background: var(--border-gradient-onyx);
    padding: 15px;
    /* padding-top: 45px; */
    border-radius: 14px;
    box-shadow: var(--shadow-2);
    cursor: pointer;
    z-index: 1;
}

.content-card::before {
    content: "";
    position: absolute;
    inset: 1px;
    border-radius: inherit;
    z-index: -1;
}

/*
    projects-modal
 */

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    overscroll-behavior: contain;
    z-index: 20;
    pointer-events: none;
    visibility: hidden;
}

.modal-container::-webkit-scrollbar {
    display: none;
}

.modal-container.active {
    pointer-events: all;
    visibility: visible;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--eerie-black-2);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 1;
    transition: var(--transition-1);
    overflow: auto;
    border-radius: 8px;
}

.overlay.active {
    opacity: 0.8;
    visibility: visible;
    pointer-events: all;
}

.project-modal {
    background: var(--eerie-black-2);
    position: relative;
    top: 0;
    left: 0;
    width: 50%;
    max-height: auto;
    padding: 15px;
    transform: scale(1.2);
    transition: var(--transition-1);
    z-index: 2;
    border-radius: 8px;
}

.modal-title {
    padding: 0px;
}

.modal-container.active .projects-modal {
    transform: scale(1);
    opacity: 1;
}

.modal-close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    background: var(--onyx);
    border-radius: 8px;
    border: none;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--fs-4);
    color: var(--teal-dark);
    opacity: 0.7;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    opacity: 1;
}

.modal-close-btn ion-icon {
    --ionicon-stroke-width: 50px;
}

.modal-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

.project-video {
    width: 520px;
    height: 260px;
    justify-self: center;
    padding-bottom: 16px;
}

.project-ul {
    text-align: justify;
    font-size: var(--fs-7);
    padding-right: 10px;
}

.project-ul li {
    margin-left: 20px;
    list-style: circle;
}

/* 
    Responsive
*/

/* General responsive settings */
@media (max-width: 1024px) {
    .landing-page {
        height: 100vh;
        transition: all 0.4s ease;
        z-index: 1;
    }

    .show-navbar .landing-page .sidebar {
        transform: translateX(-200%);
        position: absolute;
    }

    .show-navbar .main-content {
        margin-left: 1.5%;
    }

    article {
        padding: 10px;
    }

    .project-list {
        margin-left: 15%;
        gap: 10%;
    }

    .project-modal {
        width: 70%;
    }

    .project-video {
        width: 280px;
    }
}

/* Navbar for larger screens */
@media (min-width: 1024px) {
    .landing-page {
        position: fixed;
        width: 100vw;
        height: 100vh;
        transition: all 0.4s ease;
    }

    .sidebar {
        width: 25%;
    }

    .main-content {
        margin-left: 25%;
        transition: margin-top 0.4s ease;
    }

    .show-navbar .main-content {
        height: max-content;
    }
}